<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="Assembly_URDF">
  <link
    name="Torso">
    <inertial>
      <origin
        xyz="0.061917 -0.16299 0.095403"
        rpy="0 0 0" />
      <mass
        value="1.58511" />
      <inertia
        ixx="0.010187"
        ixy="6.3307E-05"
        ixz="0.00019856"
        iyy="0.0050984"
        iyz="0.0004277"
        izz="0.0056374" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/Torso.STL" />
      </geometry>
      <material
        name="PLA">
        <color
          rgba="0.5 0.5 0.5 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/Torso.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="Hip_Left">
    <inertial>
      <origin
        xyz="-0.042811 -0.078727 -0.0058043"
        rpy="0 0 0" />
      <mass
        value="0.754" />
      <inertia
        ixx="0.0017359"
        ixy="0.00057443"
        ixz="0.00016414"
        iyy="0.0016901"
        iyz="-9.6086E-06"
        izz="0.0032829" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/Hip_Left.STL" />
      </geometry>
      <material
        name="PLA">
        <color
          rgba="0.9 0.5 0.1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/Hip_Left.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="hip_left"
    type="revolute">
    <origin
      xyz="0.08708 -0.34069 0.044953"
      rpy="1.5708 -1.5708 0" />
    <parent
      link="Torso" />
    <child
      link="Hip_Left" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-0.2"
      upper="0.4"
      effort="55"
      velocity="20" />
  </joint>
  <link
    name="Thigh_Left">
    <inertial>
      <origin
        xyz="0.051989 -0.016129 0.09414"
        rpy="0 0 0" />
      <mass
        value="0.655" />
      <inertia
        ixx="0.0057317"
        ixy="-0.00047408"
        ixz="-0.0028129"
        iyy="0.0075712"
        iyz="-0.00087547"
        izz="0.0023853" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/Thigh_Left.STL" />
      </geometry>
      <material
        name="PLA">
        <color
          rgba="0.9 0.5 0.1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/Thigh_Left.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="thigh_left"
    type="revolute">
    <origin
      xyz="-0.12726 -0.0505 -0.025187"
      rpy="1.5909 0 -1.5708" />
    <parent
      link="Hip_Left" />
    <child
      link="Thigh_Left" />
    <axis
      xyz="0 0.99521 -0.097756" />
    <limit
      lower="-2"
      upper="1"
      effort="55"
      velocity="20" />
  </joint>
  <link
    name="Shank_Left">
    <inertial>
      <origin
        xyz="-0.061153 -0.019631 -0.14718"
        rpy="0 0 0" />
      <mass
        value="0.28251" />
      <inertia
        ixx="0.0019421"
        ixy="-1.179E-05"
        ixz="-0.00078463"
        iyy="0.0023239"
        iyz="-4.0715E-05"
        izz="0.00041" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/Shank_Left.STL" />
      </geometry>
      <material
        name="PLA">
        <color
          rgba="0.9 0.5 0.1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/Shank_Left.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="shank_left"
    type="revolute">
    <origin
      xyz="0.13187 0.027867 0.23255"
      rpy="3.1416 -0.81921 0" />
    <parent
      link="Thigh_Left" />
    <child
      link="Shank_Left" />
    <axis
      xyz="0.071421 0.99521 -0.066747" />
    <limit
      lower="-3.5"
      upper="0.5"
      effort="55"
      velocity="20" />
  </joint>
  <link
    name="Hip_Right">
    <inertial>
      <origin
        xyz="-0.04238 -0.096347 0.018058"
        rpy="0 0 0" />
      <mass
        value="0.754" />
      <inertia
        ixx="0.00323"
        ixy="0.00098777"
        ixz="0.00013991"
        iyy="0.0031565"
        iyz="-0.00020179"
        izz="0.0061566" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/Hip_Right.STL" />
      </geometry>
      <material
        name="PLA">
        <color
          rgba="0.9 0.5 0.1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/Hip_Right.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="hip_right"
    type="revolute">
    <origin
      xyz="0.08177 -0.014856 0.044953"
      rpy="1.5708 -1.5708 0" />
    <parent
      link="Torso" />
    <child
      link="Hip_Right" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-0.2"
      upper="0.4"
      effort="55"
      velocity="20" />
  </joint>
  <link
    name="Thigh_Right">
    <inertial>
      <origin
        xyz="0.065346 -0.038287 -0.078458"
        rpy="0 0 0" />
      <mass
        value="0.655" />
      <inertia
        ixx="0.0047088"
        ixy="6.0287E-06"
        ixz="0.0032615"
        iyy="0.0076864"
        iyz="-3.4161E-05"
        izz="0.0032303" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/Thigh_Right.STL" />
      </geometry>
      <material
        name="PLA">
        <color
          rgba="0.9 0.5 0.1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/Thigh_Right.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="thigh_right"
    type="revolute">
    <origin
      xyz="-0.12222 -0.0625 0.037338"
      rpy="-1.5753 0 -1.5708" />
    <parent
      link="Hip_Right" />
    <child
      link="Thigh_Right" />
    <axis
      xyz="0 0.99687 -0.07906" />
    <limit
      lower="-1"
      upper="2"
      effort="55"
      velocity="20" />
  </joint>
  <link
    name="Shank_Right">
    <inertial>
      <origin
        xyz="-0.013788 -0.010056 0.16019"
        rpy="0 0 0" />
      <mass
        value="0.28251" />
      <inertia
        ixx="0.002247"
        ixy="1.4052E-05"
        ixz="0.00023346"
        iyy="0.0023139"
        iyz="-0.00015694"
        izz="0.00011505" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/Shank_Right.STL" />
      </geometry>
      <material
        name="PLA">
        <color
          rgba="0.9 0.5 0.1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/Shank_Right.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="shank_right"
    type="revolute">
    <origin
      xyz="0.16821 -0.024545 -0.2083"
      rpy="3.1416 0.69204 0" />
    <parent
      link="Thigh_Right" />
    <child
      link="Shank_Right" />
    <axis
      xyz="0.050449 -0.99687 0.060872" />
    <limit
      lower="-3.5"
      upper="1.0"
      effort="55"
      velocity="20" />
  </joint>
</robot>